<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="lib/extjs/resources/css/ext-all-gray.css" />

    <script src="lib/angular.min.js"></script>
</head>
<body>

<div >
    <div id="binding-example"></div>
</div>

<script language="JavaScript">
    angular.injector(['ng']).invoke(function($rootScope, $interpolate)
    {
        var exp;
        var scope =
        {
                name:'Angular',
                age: 20
        };

        exp = $interpolate('Hello {{name}}!');
        document.write(exp(scope) + '<br/>');

        exp = $interpolate('{{age=age + 1}}', true);
        document.write(exp(scope) + '<br/>');

        exp = $interpolate('Age is {{age}}');
        document.write(exp(scope) + '<br/>');
    });
</script>
</body>
</html>